
project_id = "wallet-coast-customs"

[api]
enabled = true
port = 54321
schemas = ["public", "storage"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
major_version = 15

[studio]
enabled = true
port = 54323
api_url = "http://localhost"

[inbucket]
enabled = true
port = 54324
smtp_port = 54325
pop3_port = 54326

[storage]
enabled = true
file_size_limit = "50MiB"

[auth]
enabled = true
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://localhost:3000"]
jwt_expiry = 3600
enable_refresh_token_rotation = true
refresh_token_reuse_interval = 10

[realtime]
enabled = true

[edge_functions]
enabled = true

[functions.generate-style]
verify_jwt = true

[functions.wallet-auth]
verify_jwt = false

[functions.llm-patch]
verify_jwt = true

[functions.generate-wallet-mask-v3]
verify_jwt = false

[functions.export_theme]
verify_jwt = true

[functions.seed_presets]
verify_jwt = false

[functions.seed-schema]
verify_jwt = false

[functions.generate-background]
verify_jwt = false

[functions.get-walletconnect-config]
verify_jwt = false

[functions.ai-dom-scanner]
verify_jwt = false

[functions.ai-analyze-colors]
verify_jwt = true

[functions.ai-vision-upsert-mappings]
verify_jwt = false

[functions.create-base-theme]
verify_jwt = false

[functions.upload-to-ipfs]
verify_jwt = false

[functions.mint-nft-solana]
verify_jwt = false

[functions.mint-nft-build]
verify_jwt = false

[functions.ai-element-commentary]
verify_jwt = false

[functions.ai-vision-analyze]
verify_jwt = false

[functions.rate-nft]
verify_jwt = false

[functions.create-listing]
verify_jwt = false

[functions.buy-nft]
verify_jwt = false

[functions.cancel-listing]
verify_jwt = false

